<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Fan Control KDE</vendor>
  <vendor_url>https://github.com/gabrielmf1998/fan-control-kde</vendor_url>

  <action id="io.github.gabrielmf1998.fancontrol">
    <description>Change fan speed</description>
    <description xml:lang="pt_BR">Alterar a velocidade das ventoinhas</description>
    <message>Authentication is required to change the fan speed</message>
    <message xml:lang="pt_BR">É necessário autenticar para alterar a velocidade das ventoinhas</message>
    <icon_name>sensors-fan</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/fan-tray-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
